/* Шрифты. Start */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Шрифты. End */

/* Основные стили. Start */

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden { /* Временные свойства, изменить когда будет прохождение на курсе */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.title__average {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.title__small {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.description-text__medium {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.description-text__small {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.text-color__white {
  color:#FFFFFF;
}

.bg-color__blue {
  background-color: #82B3D3;
}

/* Основные стили. End */

/* Шапка styles. Start */

.navigation-items {
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
}

.navigation-link_current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
}

.user-menu {
  list-style: none;
}

.user-menu .button-search {
  background: url("../images/icons/icon-search.svg") no-repeat;
}

.user-menu .button-favorites {
  background: url("../images/icons/icon-favorites.svg") no-repeat;
}

.user-menu .button-favorites-number {
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  color: #FFFFFF;
}

.user-menu .button-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
}

/* Шапка styles. End */

/* Hero styles. Start */

.hero {
  background-image: url("../images/hero-background-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: rgba(131, 179, 211, 0.2);
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

/* Hero styles. End */

/* Advantages styles. Start */

.advantages-list {
  list-style: none;
}

/* Advantages styles. End */
